html {
  scroll-behavior: smooth;
}

.App {
  font-size: calc(15px + 2vmin);
  color: white;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App-body {
  display: flex;
  flex-direction: column;
  background-color: #363b46;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: white;
  color: #282c34;
  border: 2px solid #61dafb;
  transition-duration: 0.3s;
  cursor: pointer;
  font-size: calc(5px + 2vmin);
  width: 190px;
}

.button:hover {
  background-color: #61dafb;
  color: white;
}

#spaces {
  margin-top: 25px;
}

.card {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border: 2px solid #61dafb;
  padding: 15px;
  float: left;
  height: 480px;
  font-size: calc(10px + 2vmin);
}

.cardColumns {
  margin-left: 25px;
}

.cardTitle {
  height: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cardDescription {
  border-top: 1px solid #61dafb;
  padding-top: 10px;
  height: 156px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
